# Ignore node_modules and build files
node_modules/
dist/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore sensitive files
.env

# Ignore files from parent directories
../*